body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: white;
}

header {
  text-align: center;
  padding: 100px 20px;
}

h1 {
  font-size: 55px;
  margin: 0;
  color: #38bdf8;
  text-shadow: 0 0 20px #38bdf8;
}

.card {
  background: rgba(15, 23, 42, 0.8);
  margin: 25px auto;
  padding: 30px;
  border-radius: 15px;
  max-width: 900px;
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.15);
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-12px);
  box-shadow: 0 0 35px rgba(56, 189, 248, 0.4);
}

h2 {
  border-bottom: 2px solid #38bdf8;
  padding-bottom: 10px;
}

/* Skills */
.skills span {
  display: inline-block;
  background: #38bdf8;
  color: black;
  padding: 8px 14px;
  margin: 6px;
  border-radius: 20px;
}

/* Projects */
.project {
  background: #1e293b;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}

/* Links */
a {
  color: #38bdf8;
  text-decoration: none;
}

/* Animations */
.fade-in {
  animation: fadeIn 1s ease-in;
}

.slide-up {
  animation: slideUp 1s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slideUp {
  from {transform: translateY(50px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}
